#GOLANG
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
tst.go
dump.rdb

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

#PYTHON
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py

# Ignore virtual environment folder
botVirt/

#JS
# Optional npm cache directory
.npm

# Dependency directories
node_modules/